@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #2B2A30;
    --red-clr: #9d0000;
    --green-clr: #00aa51;
}

body {
    background-color: #2B2A30;
}

.pomodoro-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    width: 320px;
    height: 320px;
    background-color: #2B2A30;
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 8rem;
    font-family: 'Bebas Neue', cursive;
    margin-top: 8vh;
}

.start-timer {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2vh;
    letter-spacing: 3px;
    font-size: .8rem;
}

.mini-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.settings {
    width: 50%;
}

@media only screen and (min-width: 450px) {
    .timer-container {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 320px) {
    .timer-container {
        width: 220px;
        height: 220px;
    }

    .time {
        font-size: 6rem;
    }
}